<cf_handlebars context="#context#">
<style>
	.executionsTable td {
		white-space: nowrap;
  	}
</style>
<table class="executionsTable table table-sm mb-0" style="">
	{{#each data.PublishingRequests}}
	<tr>
		<td>
			<span class="
				ms-2
				status-dot
				{{#with PublishingResult}}
				{{#if IsSuccess}}
				status-success
				{{else if IsError}}
				status-red
				{{else if IsRunning}}
				status-dot-animated status-azure
				{{else if IsCancelled}}
				status-orange
				{{/if}}
				{{/with}}
			"></span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">TYPE</span>
			</small>
			<span class="
				badge
				{{#with PublishingResult}}
				{{#if IsSuccess}}
				bg-green-lt
				{{else if IsError}}
				bg-red-lt
				{{else if IsRunning}}
				bg-azure-lt
				{{else if IsCancelled}}
				bg-orange-lt
				{{/if}}
				{{/with}}
			">
				{{RequestType}}
			</span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">folder</span>
			</small>
			 <span class="
			 	badge
			 	{{#if IsSuccess}}
				bg-green-lt
				{{else if IsError}}
				bg-red-lt
				{{else if IsRunning}}
				bg-azure-lt
				{{else if IsCancelled}}
				bg-orange-lt
				{{/if}}
			">
				{{PackageFullName}}
			 </span>
		</td>
	</tr>
	{{#if IsError}}
	<tr>
		<td colspan="7"><p class="text-warning" style="max-width:500px;">{{ErrorMessage}}</p></td>
	</tr>
	<!--- <tr>
		<td colspan="7">
			<pre>
				{{{ErrorStackTrace}}}
			</pre>
		</td>
	</tr> --->
	{{/if}}
	{{/each}}
</table>
</cf_handlebars>