<cf_handlebars context="#context#">
<style>
	.executionsTable td {
		white-space: nowrap;
  	}
</style>
<table class="executionsTable table table-sm mb-0" style="">
	{{#each data.PublishingRequests}}
	<tr>
		<td>
			<span class="
				ms-2
				status-dot
				{{#with PublishingResult}}
				{{#if IsSuccess}}
					bg-green-lt
				{{else}}
					bg-orange-lt
				{{/if}}
				{{/with}}
			"></span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">type</span>
			</small>
			<span class="
				badge
				{{#with PublishingResult}}
				{{#if IsSuccess}}
					bg-green-lt
				{{else}}
					bg-orange-lt
				{{/if}}
				{{/with}}
			">
				{{RequestType}}
			</span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">file</span>
			</small>
			<span class="
				badge
				{{#with PublishingResult}}
				{{#if IsSuccess}}
					bg-green-lt
				{{else}}
					bg-orange-lt
				{{/if}}
				{{/with}}
			">
				{{PublishingResult.PublishingRequest.SqlFile}}
			</span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">result</span>
			</small>
			<span class="
				badge
				{{#with PublishingResult}}
				{{#if IsSuccess}}
					bg-green-lt
				{{else}}
					bg-orange-lt
				{{/if}}
				{{/with}}
			">
				{{PublishingResult.ResultType}}
			</span>
		</td>
		<td class="px-3">
			<small>
				<span class="text-muted me-3">message</span>
			</small>
			 <span class="
			 	badge
			 	{{#if PublishingResult.IsSuccess}}
					bg-green-lt
				{{else}}
					bg-orange-lt
				{{/if}}
			">
				{{PublishingResult.ResultMessage}}
				{{!-- <textarea>{{{PublishingResult.ResultMessage}}}</textarea> --}}
			 </span>
		</td>
	</tr>
	{{#if IsError}}
	<tr>
		<td colspan="7"><p class="text-warning" style="max-width:500px;">{{ErrorMessage}}</p></td>
	</tr>
	<!--- <tr>
		<td colspan="7">
			<pre>
				{{{ErrorStackTrace}}}
			</pre>
		</td>
	</tr> --->
	{{/if}}
	{{/each}}
</table>
</cf_handlebars>